# Created by .ignore support plugin (hsz.mobi)
/not_hotdog/
/saved_model/
/sports/
/vehichle/
/humans/
/hotdog/
/hot_dog/
/furniture/
/frankfurter/
/chili_dog/
/animals/

/conv_model/model.ckpt.data-00000-of-00001
/dalmation/
/daschshund/
/doberman/
/german_shepherd/
/greyhound/
/husky/
/labrador/
/lola/
/maltese/
/not_lola/
/pomeranian/
/poodle/
/pug/
/tabby_cat/
/templates/alternative_site/
