<!DOCTYPE html>
<html>
<title>ImageClassifier</title>
<body>

<form action = "/runner" method="POST">
    <p> Select what to run :
    <select name="run_what">
        <option value="AA">run_all </option>
        <option value="DL">train </option>
        <option value="B6">test</option>
    </select>
    <p> Image Size:<input name="img_size" type ="text" value="64" /> </p>
    <p> Batch Size:<input name="batch" type ="text" value="64" /> </p>
    <p> Number of Epochs:<input name="epochs" type ="text" value="15" /> </p>
    <p> Learning Rate: <input name="learn" type ="text" value="1e-3" /> </p>
    <p> <input type ="submit" value="submit" /> </p>
</form>
</body>
</html>